    body {
        background-color: #f1f1f1;
        padding: 0;
        margin: 0;
        overflow-x: hidden;
        text-align: right;
        font-family: Arial, sans-serif;
        font-style: bold;
    }
    
    header {
        background-color: rgb(255, 255, 255);
        padding: 1px;
        box-shadow: 0 0 2px rgb(94, 94, 94);
        position: sticky;
        top: 0;
        font-size: 15.4px;
    }
    
    header .boxshadow:hover {
        color: rgb(255, 255, 255)
    }
    /* .searchBox {
        position: grid;
        display: inline;
        background: white;
        transform: translate(-50%, -50%);
        border-radius: 40px;
        top: 50%;
        left: 50%;
        padding: 10px; */
    /* .searchBox:hover>.searchText {
        width: 250px;
        padding: 0 5px;
    } */
    /*
    .searchBox:hover>.searchBtn {
        background: white;
    }

    .searchText {
        border: none;
        outline: none;
        transition: all 0.4 linear;
        background: none;
        display: inline;
        padding: 0;
        font-size: 13px;
        color: black;
        width: 0px;
        line-height: 13px;
    }

    .searchBtn {
        width: 5px;
        height: 5px;
        background-color: white;
        color: black;
        position: flex;
        /* display: grid; */
    /* place-items: right;
        display: inline;
        border-radius: 50%;
        justify-content: center;
    }

    .searchText:hover>.searchBox {
        width: 25px;
        padding: 2px;
    } */
    
    #nav-bar .material-icons {
        min-width: 50px;
        background-color: white;
        color: black;
        margin-bottom: 0px;
        margin-left: 10px;
        display: inline-flex;
    }
    
    #nav-bar .header-app {
        margin-right: 1px;
        padding-right: 1px;
        align-items: initial;
    }
    
    #nav-bar i {
        margin-left: 20px;
        margin-right: 20px;
    }
    
    #nav-bar ul li a.active-page {
        text-decoration-line: underline;
        text-decoration-color: rgb(64, 122, 231);
        text-decoration-thickness: 3px;
        text-underline-offset: 5px;
        transition: 0.4s;
    }
    
    #nav-bar ul li a.active-page:hover {
        text-underline-offset: 0.4s;
    }
    
    header li {
        display: inline;
        padding-left: 5px;
    }
    
    header li a {
        color: rgb(0, 0, 0);
        text-decoration: none;
        padding: 12px;
        transition: .3s ease;
    }
    
    header li a:hover {
        color: rgb(0, 0, 0);
    }
    /* header ul #contact a {
    color: rgb(0, 0, 0);
    background-color: rgb(158, 201, 158);
    border-radius: 30px;
    float: right;
    position: relative;
    top: -15px;
    transition: .3s ease;
} */
    /* header ul #contact a:hover {
    background-color: rgb(165, 247, 238);
} */
    
    header ul #FamousPaintings a {
        color: black;
        background-color: rgb(255, 255, 255);
        float: left;
        position: relative;
        top: -9px;
        text-decoration: none;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif font-weight, bold;
        font-size: 17px;
    }
    /* header ul #FamousPaintings a:hover {
    color: rgb(165, 247, 238);
} */
    /* header li img {
    width: 35px;
    float: left;
    margin-top: -20px;
} */
    
    .active {
        color: rgb(0, 0, 0);
    }
    
    .container {
        width: 100%;
        height: 0vh;
        background-color: white;
        /* background: linear-gradient(rgba(0, 0, 0, .4), rgba(148, 48, 48, .2)), url(images/2614.jpg) center no-repeat; */
        background-size: cover;
        box-shadow: black;
    }
    
    .navbar {
        width: 300px;
        height: 100%;
        background-color: rgb(255, 255, 255);
        position: fixed;
        left: -300px;
        justify-content: left;
        align-items: left;
        border-radius: 0 0 0 0;
        transition: left .4s cubic-bezier(1, 0, 0, 1);
        box-sizing: border-box;
        font-style: bold;
        box-shadow: 3px 0 5px -2px #888;
        /* overflow: scroll; */
        display: block;
        top: auto;
        overflow: auto;
        z-index: 4508;
    }
    
    .change {
        left: 0;
    }
    
    .hamburger-menu {
        width: 20px;
        height: 15px;
        top: 20px;
        background-color: rgb(255, 255, 255);
        left: 15px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: fixed;
        margin-left: 12px;
    }
    
    .line {
        width: 18px;
        height: 2px;
        background-color: #202124;
        /* transition: all 0.3s; */
    }
    /* .change .line-1 {
    transform: rotateZ(-405deg) translate(-8px, 4px);
}

.change .line-2 {
    opacity: 0;
}

.change .line-3 {
    transform: rotateZ(405deg) translate(-8px, -4px);
    ;
} */
    
    .nav-list {
        text-align: left;
        border: 0;
        padding: 0;
        position: relative;
    }
    
    .navbar ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    
    .navbar li {
        display: list-item;
        text-align: -webkit-match-parent;
    }
    
    .nav-item {
        list-style: none;
        margin: 25px;
        place-items: left;
    }
    
    .nav-link {
        font-family: 'Google Sans', Roboto, 'Noto Naskh Arabic UI', Arial, sans-serif;
        font-size: .875rem;
        color: #3c4043;
        letter-spacing: 1px;
        width: 500px;
        justify-content: center;
        position: flex;
        letter-spacing: .01428571em;
        display: inline-block;
        line-height: 48px;
        margin-left: 0px;
        outline: none;
        overflow: hidden;
        padding: 0 24px;
        padding-left: 0 16px;
        text-decoration: none;
        vertical-align: middle;
        white-space: nowrap;
        font-weight: 500;
        cursor: pointer;
        box-sizing: border-box;
    }
    
    .nav-link i.fas {
        position: inline-block;
        left: 7px;
        background-color: white;
        margin-right: 15px;
    }
    
    .nav-link i.far {
        position: inline-block;
        left: 7px;
        background-color: white;
        margin-right: 15px;
    }
    
    #nav-item ul li:hover,
    li.nav-item {
        background-color: white;
    }
    
    #nav-item ul li:hover a,
    li.nav-link a {
        color: rgb(37, 138, 196);
    }
    
    .nav-list li a.navlink-active {
        background-color: rgba(26, 115, 232, 0.102);
        color: #1a73e8;
    }
    
    .nav-list li a.navlink-active:hover {
        transition: 0.3s;
    }
    
    .nav-list li i.navlink-active {
        background-color: rgba(26, 115, 232, 0.102);
        color: #1a73e8;
    }
    
    .nav-list .nav-item {
        border: 0;
        padding: 0;
        position: relative;
        border-radius: 30px 0 0 30px;
        margin: 0;
        overflow-x: hidden;
        font-size: .875rem;
    }
    
    .navbar .nav-list:not(:last-of-type)::after {
        content: '';
        display: block;
        background-color: #dadce0;
        bottom: 0;
        height: 1px;
        position: absolute;
        right: 0;
        width: -webkit-calc(100% - 64px);
        width: calc(100% - 64px);
    }
    
    [type=radio] {
        display: none;
    }
    
    #slider {
        height: 20vw;
        position: relative;
        perspective: 500px;
        transform-style: preserve-3d;
        top: 150px;
    }
    
    #slider label {
        margin: auto;
        width: 35%;
        height: 100%;
        border-radius: 100px;
        position: absolute;
        left: 0;
        right: 0;
        cursor: pointer;
        transition: transform 0.4s ease;
        align-items: center;
        background: white;
    }
    
    #s1:checked~#slide4,
    #s2:checked~#slide5,
    #s3:checked~#slide1,
    #s4:checked~#slide2,
    #s5:checked~#slide3 {
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .37);
        transform: translate3d(-30%, 0, -200px);
    }
    
    #s1:checked~#slide5,
    #s2:checked~#slide1,
    #s3:checked~#slide2,
    #s4:checked~#slide3,
    #s5:checked~#slide4 {
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .3), 0 2px 2px 0 rgba(0, 0, 0, .2);
        transform: translate3d(-15%, 0, -100px);
    }
    
    #s1:checked~#slide1,
    #s2:checked~#slide2,
    #s3:checked~#slide3,
    #s4:checked~#slide4,
    #s5:checked~#slide5 {
        box-shadow: 0 13px 25px 0 rgba(0, 0, 0, .3), 0 11px 7px 0 rgba(0, 0, 0, .19);
        transform: translate3d(0, 0, 0);
    }
    
    #s1:checked~#slide2,
    #s2:checked~#slide3,
    #s3:checked~#slide4,
    #s4:checked~#slide5,
    #s5:checked~#slide1 {
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .3), 0 11px 7px 0 rgba(0, 0, 0, .2);
        transform: translate3d(-15%, 0, -100px);
    }
    
    #s1:checked~#slide3,
    #s2:checked~#slide4,
    #s3:checked~#slide5,
    #s4:checked~#slide1,
    #s5:checked~#slide2 {
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .37);
        transform: translate3d(30%, 0, -200px);
    }